* {
    font-family: "Inter", system-ui, sans-serif;
  

}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: start;
    padding-left: 40px;
    height: 100px;
    color: white;
    background-image: linear-gradient(5deg,
            orange 50%,
            orangered 60%,
            orange 50%);
}
.logo {
    width: 48px;
    height: 48px;
    background: linear-gradient(135deg, #ff571a, #ff9a62);
    color: white;
    border-radius: 12px;
    font-weight: 800;
    display: grid;
    place-items: center;
    font-size: 20px;
}

.form {
  background-color: #fff;
  display: block;
  position: relative;
  left: 500px;
  padding-left: 80px;
  padding-right:40px;
  width: 800px;
  border-radius: 5px;
  box-shadow: 0 10px 50px 3px rgba(0, 0, 0, 0.1);

}

.form-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  padding: 30px;
  text-align: center;
  color: #000;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
  
}

.input-container input {
  background-color: #fff;
  padding: 16px;
  padding-right: 48px;
  font-size: 14px;
  line-height: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}


.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ff571a;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  width: 500px;
  border-radius: 8px;
  text-transform: uppercase;
}
.valide{
    display: flex;
    justify-content: center
}


a{
    text-decoration: none;
    color: #fff;
}