* {
    font-family: "Inter", system-ui, sans-serif;
  

}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: start;
    padding-left: 40px;
    height: 100px;
    color: white;
    background-image: linear-gradient(5deg,
            orange 50%,
            orangered 60%,
            orange 50%);
}

.logo {
    width: 48px;
    height: 48px;
    background: linear-gradient(135deg, #ff571a, #ff9a62);
    color: white;
    border-radius: 12px;
    font-weight: 800;
    display: grid;
    place-items: center;
    font-size: 1.2rem;


}


.product-card {
    background: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

:hover.product-card {
    transform:scale(1.05) ;
    transition: 1s;
}

.product-card img {

    height: 200px;
    object-fit: contain;
}

.product-info {
    padding: 20px;
}

.product-info h2 {
    margin: 0 0 10px;
}

.product-info p {
    color: #555;
    font-size: 14px;
}

.price {
    font-size: 22px;
    color: #ff571a;
    margin: 15px 0;
    font-weight: bold;
}

.buy-btn {
    background: #ff571a;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}

.buy-btn:hover {
    background: #ff571a;
}


button {
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #ffffff;
    background-color: #ff6b35;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px ;

}

button:hover {
    background-color: #ffffff;
    color: #ff6b35;

}
.supplement {
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 20px;
    padding-bottom: 30px;
}



.bu{
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 40px;
    padding-right: 80px;
}
a{
    text-decoration: none;
    color: white;
    

}
@media (max-width: 600px) {
    .supplement{
       grid-template-columns: repeat(1, 1fr);
    }
    .product-card {
        margin: auto;
}
    
}


@media (min-width: 600px) {
    .supplement{
       grid-template-columns: repeat(2, 1fr);
       
    }
    .product-card {
        margin: auto;
    }
}


@media (min-width: 768px) {
    .supplement{
       grid-template-columns: repeat(3, 1fr)  
    }
    .product-card {
        margin: auto;
    }

}


@media (min-width: 992px) {
    .supplement{
       grid-template-columns: repeat(4, 1fr);
       
    }
    .product-card {
        margin: auto;
    }
}


@media  (min-width: 1200px) {
    .supplement{
       grid-template-columns: repeat(5, 1fr);
    }
    .product-card {
        margin: auto;
    }
}

